@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: overlay;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*===== Common css =====*/

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.highlight {
    color: #FF008E;
}

.primary-button {
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #cc00bb, #ff00e8);
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 7px 0 #c502b5 ;
  position: relative;
  top: 0;
}

.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #c502b5;
}

.section-title {
    text-align: center
}

.section-title h2 {
    font-size: 40px;
    border-bottom: 2px solid #ff008e;
    margin: 50px 0;
    display: inline-block;
}

/* Header Part css */

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}

.navigation li {
    list-style: none;
    margin-right: 10px;
}

.navigation li a {
    color: #ffffff;
    padding: 10px;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1 {
    color: #ffffff;
    font-size: 45px;
}
.banner-left p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-right {
    display: flex;
    align-items: flex-end;
}


.banner-right img {
    width: 100%;
}

/* Feature Part css */

.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, .2);
}

.card .card-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff00e8;
    padding: 10px;
    color: #ffffff;
}

.card h3 {
    color: #ff00e8;
    font-size: 25px;
}

.card p {
    margin: 10px 0;
    line-height: 1.5;
}

.card a {
    color: #ff00e8;
}


/* Gallery Part css */

.gallery {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Contact Part css */

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-left img {
    width: 100%;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}

/* Footer Part css */

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}